<html>
    <header>
        <!-- somewhere inside head tag -->
        <script src='jquery/dist/jquery.js' charset='utf-8'></script>
        <script src='bootstrap/dist/js/bootstrap.js' charset='utf-8'></script>  
        
        <link rel='stylesheet' href='bootstrap/dist/css/bootstrap.css' />
        <title>Convert My Mondey</title>
        
    </header>
    <body>
        <h1 class='mx-auto text-center mt-4'><a href='/'><img class='w-50' src='/logo.png' alt='User' /></a></h1>