<html>
    <header>
        <title>Convert My Mondey</title>
        <link href="/styles.css" rel="stylesheet">
    </header>
    <body>
        <h1><a href="/"><img class="logo" src="/logo.png" alt="User" /></a></h1>