       <%- include('header') %>
       <form method="GET" action="cotacao">
           <input name="cotacao" type="text" placeholder="Cotação do dolar" /><br />
           <input name="quantidade" type="text" placeholder="Quantidade de dolares" /><br />
           <button>Converter</button>
       </form>
       <%- include('footer') %>