body {
    text-align: center;
    font-family: sans-serif;
}

h1 img {
    width: 489px;
    height: 57px;
    margin-top: 20px;
}

form input {
    border: 1px solid #000000;
    background: #FDFDFD;
    font-size: 20px;
    padding: 10px;
    margin: 4px;
}

button {
    border: 1px solid #000000;
    background: #d8d8d8;
    font-size: 20px;
    padding: 10px;
    margin: 4px;
}

.containerResult {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.boxResult { 
    width: 350px;
    padding: 10px; 
    border: 1px solid #d8d8d8; 
    background: #FDFDFD; 
}

.boxResult p{ font-size: 20px; color: gray; }

.textGreen { color: #37a007; }

.textBlue { color: #376AD1; }

.textRed { color: #d13737; }

.containerForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.containerForm form{
    margin-top: 4px;
    width: 350px;
    padding: 10px; 
    border: 1px solid #d8d8d8; 
    background: #FDFDFD; 
}

.containerBanner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.boxBanner {
    width: 350px;
    padding: 10px; 
    border: 1px solid #d8d8d8; 
    background: #FDFDFD;
}

.boxBanner p {
    font-size: 20px;
}